{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=librifree.db"
  },
  "JwtSettings": {
    "Key": "secret-key",
    "Issuer": "LibriFreeAPI",
    "Audience": "LibriFreeApp"
  }
}